{
    "extends": "airbnb",
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "jest": true,
        "es6": true
    },
    "rules": {
        "strict": 0,
        "quotes": [2, "single"],
        "no-else-return": 0,
        "new-cap": ["warn", {"capIsNewExceptions": ["Router", "Map"]}],
        "no-console": 0,
        "import/no-unresolved": [2, { "caseSensitive": false } ],
        "no-unused-vars": ["warn", { "vars": "all", "args": "none" }],
        "no-underscore-dangle": 0,
        "arrow-body-style": 0,
        "one-var": ["warn", { "uninitialized": "always", "initialized": "never" }],
        "one-var-declaration-per-line": ["warn", "initializations"],
        "max-len": ["warn", 80],
        "no-extra-parens": 0,
        "no-restricted-syntax": [
          0,
          "DebuggerStatement"
        ],
        "no-debugger": "warn",
        "no-param-reassign": [2, { "props": false }],
        "camelcase": [0, {properties: "never"}],
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
    },
}
